* {
    background-color:white;
}

h1 {
    
        color: brown;
    }
    h1 {
        color:blueviolet;
    }

    /* esto es un comentario */
    /* 1. Selector por elemento HTML */
p-1 {
    color: yellowgreen;
}

/* 2. Selector por clase*/
l  {
    color: pink;
}

/* 3. Selcetor por ID */
#cualquier nombre{
    color: orange;
}
h2 {
    color: blue;
}
img {
    width: 50px;
}
.product card {
    color: black;
}
    
